*.html
*.iml
*.jar
*.jpg
*.log
*.rdb
*.zip
*sources.jar
.bloop
.bsp
.cache
.idea/
.metals
.stack-work
.vscode
*.dhall
/*.json
/*.yaml
/*.yml
/indices
config.yaml
dependency-reduced-pom.xml
dumps
log/
out
target/
venv
!.gitlab-ci.yml
!example.dhall
